<a href="https://colab.research.google.com/github/furqan1984/GLO-OE/blob/main/SA_Coaching_Surveys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install transformers

Requirement already satisfied: transformers in /usr/local/lib/python3.6/dist-packages (4.3.2)
Requirement already satisfied: filelock in /usr/local/lib/python3.6/dist-packages (from transformers) (3.0.12)
Requirement already satisfied: dataclasses; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from transformers) (0.8)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.6/dist-packages (from transformers) (4.41.1)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.6/dist-packages (from transformers) (0.0.43)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from transformers) (20.9)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from transformers) (3.4.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.6/dist-packages (from transformers) (1.19.5)
Requirement already satisfied: tokenizers<0.11,>=0.10.1 in /usr/local/lib/python3.6/dist-packages (from transformers) (0.10.1)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.6/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from sacremoses->transformers) (1.15.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from sacremoses->transformers) (1.0.0)
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from sacremoses->transformers) (7.1.2)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging->transformers) (2.4.7)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->transformers) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->transformers) (3.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->transformers) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->transformers) (3.0.4)

In [2]:
from transformers import pipeline

In [3]:
import pandas as pd
df = pd.read_csv('coaching.csv')

In [4]:
df

                                         expectations?  ...     Last Modified
0                                    Amanda was great!  ...   01/02/2018 9:16
1    The Coaching experience was a valuable use of ...  ...  01/02/2018 10:44
2    Yes, I really enjoyed working with my coach, S...  ...  01/02/2018 11:09
3    The coaching session met my expectations both ...  ...  01/02/2018 11:09
4    Well exceeded my expectations. It was one of t...  ...  01/02/2018 13:28
..                                                 ...  ...               ...
298  Yes.  Cybelle was just great.   We had an imme...  ...   02/10/2021 8:50
299  Yes, I was paired with a great coach who outli...  ...  02/12/2021 16:12
300  Yes,\ngot different perspectives of peer mgmt,...  ...   02/13/2021 7:01
301  Shalini is a superb coach ! She have got the s...  ...   02/15/2021 7:34
302  Yes, Carol my coach was super good, she provid...  ...   02/15/2021 8:53

[303 rows x 3 columns]

In [5]:
cls = pipeline('sentiment-analysis', device=0)

In [13]:
def get_preds(sentence):
    return cls(sentence)[0]['label']

In [14]:
df['predictions'] = df['expectations?'].apply(lambda x: get_preds(x))

In [15]:
df

                                         expectations?  ... predictions
0                                    Amanda was great!  ...    POSITIVE
1    The Coaching experience was a valuable use of ...  ...    NEGATIVE
2    Yes, I really enjoyed working with my coach, S...  ...    POSITIVE
3    The coaching session met my expectations both ...  ...    POSITIVE
4    Well exceeded my expectations. It was one of t...  ...    POSITIVE
..                                                 ...  ...         ...
298  Yes.  Cybelle was just great.   We had an imme...  ...    POSITIVE
299  Yes, I was paired with a great coach who outli...  ...    POSITIVE
300  Yes,\ngot different perspectives of peer mgmt,...  ...    POSITIVE
301  Shalini is a superb coach ! She have got the s...  ...    POSITIVE
302  Yes, Carol my coach was super good, she provid...  ...    POSITIVE

[303 rows x 4 columns]

In [16]:
df.to_csv('predictions.csv')